<mat-tab-group>
    <mat-tab label="Python Lists">
        <div class="p-2">
            <h3 class="bg"><b>
                <pre><code>
                mylist = [ "apple", "banana", "cherry" ]
                </code></pre>
                </b></h3>
            <br>
            <h2>List</h2>
            Lists are used to store multiple items in a single variable.<br>
            <br>
            Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are
            <u>Tuple</u>, <u>Set</u>, and <u>Dictionary</u>, all with different qualities and usage.<br>
            <br>
            Lists are created using square brackets:<br>
            <br>
            <table class="table">
                <tbody>
                    <tr class="bg2">
                        <h3><b>EXAMPLE</b><br>Create a List:</h3>
                    </tr>
                    <tr>
                        <h3 class="bg"><b>
                                <pre><code>
                            thislist = [ "apple", "banana", "cherry" ]
                            print ( thislist )
                            </code></pre>
                            </b>
                        </h3>
                    </tr>
                </tbody>
            </table>
            <br>
            <h2>List Items</h2>
            List items are ordered, changeable, and allow duplicate values.<br>
            <br>
            List items are indexed, the first item has index <code>[0]</code>, the second item has index
            <code>[1]</code> etc.
            <br>
            <br>
            <h2>Ordered</h2>
            When we say that lists are ordered, it means that the items have a defined order, and that order will not
            change.<br>
            <br>
            If you add new items to a list, the new items will be placed at the end of the list.
            <br>
            <br>
            <h2>Changeable</h2>
            The list is changeable, meaning that we can change, add, and remove items in a list after it has been
            created.
            <br>
            <br>
            <h2>Allow Duplicates</h2>
            Since lists are indexed, lists can have items with the same value:<br><br>
            <br>
            <table class="table">
                <tbody>
                    <tr class="bg2">
                        <h3><b>EXAMPLE</b><br>Lists allow duplicate values:</h3>
                    </tr>
                    <tr>
                        <h3 class="bg"><b>
                                <pre><code>
                            thislist = [ "apple", "banana", "cherry", "apple", "cherry" ]
                            print ( thislist )
                            </code></pre>
                            </b>
                        </h3>
                    </tr>
                </tbody>
            </table>
            <br>
            <h2>List length</h2>
            To determine how many items a list has, use the <code>len( )</code> function:<br>
            <br>
            <table class="table">
                <tbody>
                    <tr class="bg2">
                        <h3><b>EXAMPLE</b><br>Print the number of items in the list:</h3>
                    </tr>
                    <tr>
                        <h3 class="bg"><b>
                                <pre><code>
                            thislist = [ "apple", "banana", "cherry" ]
                            print (len ( thislist ) )
                            </code></pre>
                            </b>
                        </h3>
                    </tr>
                </tbody>
            </table>
            <br>
            <h2>List Items - Data Types</h2>
            List items can be of any data type:<br><br>
            <table class="table">
                <tbody>
                    <tr class="bg2">
                        <h3><b>EXAMPLE</b><br>String, int and boolean data types:</h3>
                    </tr>
                    <tr>
                        <h3 class="bg"><b>
                                <pre><code>
                            list1 = [ "apple", "banana", "cherry" ]<br>
                            list2 = [ 1, 5, 7, 9, 3 ]<br>
                            list3 = [ True, False, False ]
                            </code></pre>
                            </b>
                        </h3>
                    </tr>
                </tbody>
            </table>
            A list can contain different data types:
            <br><br>
            <table class="table">
                <tbody>
                    <tr class="bg2">
                        <h3><b>EXAMPLE</b><br>A list with strings, integers and boolean values:</h3>
                    </tr>
                    <tr>
                        <h3 class="bg"><b>
                                <pre><code>
                            list1 = [ "abc", 34, True, 40, "male" ]
                            </code></pre>
                            </b>
                        </h3>
                    </tr>
                </tbody>
            </table>
            <br>
            <h2>Type()</h2>
            From Python's perspective, lists are defined as objects with the data type 'list':
            <br><br>
            <table class="table">
                <tbody>
                    <tr class="bg2">
                        <h3><b>EXAMPLE</b><br>What is the data type of a list?</h3>
                    </tr>
                    <tr>
                        <h3 class="bg"><b>
                                <pre><code>
                                mylist = [ "apple", "banana", "cherry" ]
                                print ( type ( mylist ) )
                                </code></pre>
                            </b>
                        </h3>
                    </tr>
                </tbody>
            </table>
            <br>
            <h2>The List( ) Constructor</h2>
            It is also possible to use the <code>list()</code> constructor when creating a new list.<br><br>
            <table class="table">
                <tbody>
                    <tr class="bg2">
                        <h3><b>EXAMPLE</b><br>Using the <code>list()</code> constructor to make a List:</h3>
                    </tr>
                    <tr>
                        <h3 class="bg"><b>
                                <pre><code>
                            thislist = list ( ( "apple", "banana", "cherry" ) ) # note the double round-brackets
                            print ( thislist )
                            </code></pre>
                            </b>
                        </h3>
                    </tr>
                </tbody>
            </table>
            <br>
            <h2>Python Collections ( Arrays )</h2>
            There are four collection data types in the Python programming language:
            <ul>
                <li>List is a collection which is ordered and changeable. Allows duplicate members.</li>
                <li>Tuple is a collection which is ordered and unchangeable. Allows duplicate members.</li>
                <li>Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.</li>
                <li>Dictionary is a collection which is ordered** and changeable. No duplicate members.</li>
            </ul>
            When choosing a collection type, it is useful to understand the properties of that type. Choosing the right
            type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency
            or security.
        </div>
    </mat-tab>

    <mat-tab label="Access List Items"> 
        <div class="p-2">
        <h2>Access Items</h2>
        List items are indexed and you can access them by referring to the index number:
        <br><br>
        <table class="table">
            <tbody>
                <tr class="bg2">
                    <h3><b>EXAMPLE</b><br>Print the second item of the list:</h3>
                </tr>
                <tr>
                    <h3 class="bg"><b>
                        <pre><code>
                            thislist = [ "apple", "banana", "cherry" ]
                            print ( thislist [ 1 ] )
                        </code></pre></b>
                    </h3>
                </tr>
            </tbody>
        </table>
        <br>
        <h2>Negative Indexing</h2>
        Negative indexing means start from the end
        <br><br>
        <code>-1</code> refers to the last item, <code>-2</code> refers to the second last item etc.
        <br><br>
        <table class="table">
            <tbody>
                <tr class="bg2">
                    <h3><b>EXAMPLE</b><br>Print the last item of the list:</h3>
                </tr>
                <tr>
                    <h3 class="bg"><b>
                        <pre><code>
                            thislist = [ "apple", "banana", "cherry" ]
                            print ( thislist [ -1 ] )
                        </code></pre></b>
                    </h3>
                </tr>
            </tbody>
        </table>
        <br>
        <h2>Range of Indexes</h2>
        You can specify a range of indexes by specifying where to start and where to end the range.
        <br><br>
        When specifying a range, the return value will be a new list with the specified items.
        <br><br>
        <table class="table">
            <tbody>
                <tr class="bg2">
                    <h3><b>EXAMPLE</b><br> Return the third, fourth, and fifth item:</h3>
                </tr>
                <tr>
                    <h3 class="bg"><b>
                        <pre><code>
                            thislist = [ "apple", "banana", "cherry", "orange", "kiwi", "melon", "mango" ]
                            print ( thislist [ 2:5 ] )
                        </code></pre></b>
                    </h3>
                </tr>
            </tbody>
        </table>
        <br>
        By leaving out the start value, the range will start at the first item:
        <br><br>
        <table class="table">
            <tbody>
                <tr class="bg2">
                    <h3><b>EXAMPLE</b><br>This example returns the items from the beginning to, but NOT including, "kiwi":</h3>
                </tr>
                <tr>
                    <h3 class="bg"><b>
                        <pre><code>
                            thislist = [ "apple", "banana", "cherry", "orange", "kiwi", "melon", "mango" ]
                            print ( thislist [ :4 ] )
                        </code></pre></b>
                    </h3>
                </tr>
            </tbody>
        </table>
        <br>
        By leaving out the end value, the range will go on to the end of the list:
        <br><br>
        <table class="table">
            <tbody>
                <tr class="bg2">
                    <h3><b>EXAMPLE</b><br>This example returns the items from "cherry" to the end:</h3>
                </tr>
                <tr>
                    <h3 class="bg"><b>
                        <pre><code>
                            thislist = [ "apple", "banana", "cherry", "orange", "kiwi", "melon", "mango" ]
                            print ( thislist [ 2: ] )
                        </code></pre></b>
                    </h3>
                </tr>
            </tbody>
        </table>
        <h2>Range of Negative Indexes</h2>
        Specify negative indexes if you want to start the search from the end of the list:
        <br><br>
        <table class="table">
            <tbody>
                <tr class="bg2">
                    <h3><b>EXAMPLE</b><br>This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):</h3>
                </tr>
                <tr>
                    <h3 class="bg"><b>
                        <pre><code>
                            thislist = [ "apple", "banana", "cherry", "orange", "kiwi", "melon", "mango" ]
                            print ( thislist [ -4:-1 ] )
                        </code></pre></b>
                    </h3>
                </tr>
            </tbody>
        </table>
        <br>
        <h2>Check if Item Exists</h2>
        To determine if a specified item is present in a list use the in keyword:
        <br><br>
        <table class="table">
            <tbody>
                <tr class="bg2">
                    <h3><b>EXAMPLE</b><br>Check if "apple" is present <code>in</code> the list:</h3>
                </tr>
                <tr>
                    <h3 class="bg"><b>
                        <pre><code>
                            thislist = [ "apple", "banana", "cherry" ]<br>
                            if "apple" in thislist:<br>
                            print ( "Yes, 'apple' is in the fruits list" )
                        </code></pre></b>
                    </h3>
                </tr>
            </tbody>
        </table>
        </div>
    </mat-tab>

    <mat-tab label="Change List Items"> 
    <div class="p-2">
        <h2>Change Item Value</h2>
        To change the value of a specific item, refer to the index number:
        <br><br>
        <table class="table">
            <tbody>
                <tr class="bg2">
                    <h3><b>EXAMPLE</b><br>Change the second item:</h3>
                </tr>
                <tr>
                    <h3 class="bg"><b>
                        <pre><code>
                            thislist = [ "apple", "banana", "cherry" ]
                            thislist [ 1 ] = "blackcurrant"
                            print ( thislist )
                        </code></pre></b>
                    </h3>
                </tr>
            </tbody>
        </table>
        <br>
        <h2>Change a Range of Item Values</h2>
        To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:
        <br><br>
        <table class="table">
            <tbody>
                <tr class="bg2">
                    <h3><b>EXAMPLE</b><br>Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":</h3>
                </tr>
                <tr>
                    <h3 class="bg"><b>
                        <pre><code>
                            thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
                            thislist[1:3] = ["blackcurrant", "watermelon"]
                            print(thislist)
                        </code></pre></b>
                    </h3>
                </tr>
            </tbody>
        </table>
        <br>
        If you insert more items than you replace, the new items will be inserted where you specified, and <br>the remaining items will move accordingly:
        <br><br>
        <table class="table">
            <tbody>
                <tr class="bg2">
                    <h3><b>EXAMPLE</b><br>Change the second value by replacing it with two new values:</h3>
                </tr>
                <tr>
                    <h3 class="bg"><b>
                        <pre><code>
                            thislist = [ "apple", "banana", "cherry" ]
                            thislist [ 1:2 ] = ["blackcurrant", "watermelon"]
                            print(thislist)
                        </code></pre></b>
                    </h3>
                </tr>
            </tbody>
        </table>
        <br>
        If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:
        <br><br>
        <table class="table">
            <tbody>
                <tr class="bg2">
                    <h3><b>EXAMPLE</b><br>Change the second and third value by replacing it with one value:</h3>
                </tr>
                <tr>
                    <h3 class="bg"><b>
                        <pre><code>
                            thislist = [ "apple", "banana", "cherry" ]
                            thislist [ 1:3 ] = [ "watermelon" ]
                            print ( thislist )
                        </code></pre></b>
                    </h3>
                </tr>
            </tbody>
        </table>
        <br>
        <h2>Insert Items</h2>
        To insert a new list item, without replacing any of the existing values, we can use the <code>insert()</code> method.
        <br><br>
        The <code>insert()</code> method inserts an item at the specified index:
        <br><br>
        <table class="table">
            <tbody>
                <tr class="bg2">
                    <h3><b>EXAMPLE</b><br>Insert "watermelon" as the third item:</h3>
                </tr>
                <tr>
                    <h3 class="bg"><b>
                        <pre><code>
                            thislist = ["apple", "banana", "cherry"]
                            thislist.insert(2, "watermelon")
                            print(thislist)
                        </code></pre></b>
                    </h3>
                </tr>
            </tbody>
        </table>
    </div>
    </mat-tab>

    <mat-tab label="Add List Items"> 
        <h2>Append Items</h2>
        To add an item to the end of the list, use the <code>append()</code> method:
        <br><br>
        <table class="table">
            <tbody>
                <tr class="bg2">
                    <h3><b>EXAMPLE</b><br>Using the <code>append()</code> method to append an item:</h3>
                </tr>
                <tr>
                    <h3 class="bg"><b>
                        <pre><code>
                            thislist = ["apple", "banana", "cherry"]
                            thislist.append("orange")
                            print(thislist)
                        </code></pre></b>
                    </h3>
                </tr>
            </tbody>
        </table>
        <br>
        <h2>Insert Items</h2>
        To insert a list item at a specified index, use the <code>insert()</code> method.
        <br><br>
        The <code>insert()</code> method inserts an item at the specified index:
        <br><br>
        <table class="table">
            <tbody>
                <tr class="bg2">
                    <h3><b>EXAMPLE</b><br>Insert an item as the second position:</h3>
                </tr>
                <tr>
                    <h3 class="bg"><b>
                        <pre><code>
                            thislist = ["apple", "banana", "cherry"]
                            thislist.insert(1, "orange")
                            print(thislist)
                        </code></pre></b>
                    </h3>
                </tr>
            </tbody>
        </table>
        <br>

    </mat-tab>

    <mat-tab label="fifth"> Content 6 </mat-tab>

    <mat-tab label="sixth"> Content 7 </mat-tab>

    <mat-tab label="seventh"> Content 8 </mat-tab>
</mat-tab-group>




<!-- <div class="p-2">
    <h1 class="align"><u>PYTHON LISTS</u></h1>
    <h3 class="bg"><b>
            <pre><code>
        mylist = [ "apple", "banana", "cherry" ]
        </code></pre>
        </b></h3>
    <br>
    <h2>List</h2>
    Lists are used to store multiple items in a single variable.<br>
    <br>
    Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are <u>Tuple</u>,
    <u>Set</u>, and <u>Dictionary</u>, all with different qualities and usage.<br>
    <br>
    Lists are created using square brackets:<br>
    <br>
    <table class="table">
        <tbody>
            <tr class="bg2">
                <h3><b>EXAMPLE</b><br>Create a List:</h3>
            </tr>
            <tr>
                <h3 class="bg"><b>
                        <pre><code>
                    thislist = [ "apple", "banana", "cherry" ]
                    print ( thislist )
                    </code></pre>
                    </b>
                </h3>
            </tr>
        </tbody>
    </table>
    <br>
    <h2>List Items</h2>
    List items are ordered, changeable, and allow duplicate values.<br>
    <br>
    List items are indexed, the first item has index <code>[0]</code>, the second item has index <code>[1]</code> etc.
    <br>
    <br>
    <h2>Ordered</h2>
    When we say that lists are ordered, it means that the items have a defined order, and that order will not
    change.<br>
    <br>
    If you add new items to a list, the new items will be placed at the end of the list.
    <br>
    <br>
    <h2>Changeable</h2>
    The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.
    <br>
    <br>
    <h2>Allow Duplicates</h2>
    Since lists are indexed, lists can have items with the same value:<br><br>
    <br>
    <table class="table">
        <tbody>
            <tr class="bg2">
                <h3><b>EXAMPLE</b><br>Lists allow duplicate values:</h3>
            </tr>
            <tr>
                <h3 class="bg"><b>
                        <pre><code>
                    thislist = [ "apple", "banana", "cherry", "apple", "cherry" ]
                    print ( thislist )
                    </code></pre>
                    </b>
                </h3>
            </tr>
        </tbody>
    </table>
    <br>
    <h2>List length</h2>
    To determine how many items a list has, use the <code>len( )</code> function:<br>
    <br>
    <table class="table">
        <tbody>
            <tr class="bg2">
                <h3><b>EXAMPLE</b><br>Print the number of items in the list:</h3>
            </tr>
            <tr>
                <h3 class="bg"><b>
                        <pre><code>
                    thislist = [ "apple", "banana", "cherry" ]
                    print (len ( thislist ) )
                    </code></pre>
                    </b>
                </h3>
            </tr>
        </tbody>
    </table>
    <br>
    <h2>List Items - Data Types</h2>
    List items can be of any data type:<br><br>
    <table class="table">
        <tbody>
            <tr class="bg2">
                <h3><b>EXAMPLE</b><br>String, int and boolean data types:</h3>
            </tr>
            <tr>
                <h3 class="bg"><b>
                        <pre><code>
                    list1 = [ "apple", "banana", "cherry" ]<br>
                    list2 = [ 1, 5, 7, 9, 3 ]<br>
                    list3 = [ True, False, False ]
                    </code></pre>
                    </b>
                </h3>
            </tr>
        </tbody>
    </table>
    A list can contain different data types:
    <br><br>
    <table class="table">
        <tbody>
            <tr class="bg2">
                <h3><b>EXAMPLE</b><br>A list with strings, integers and boolean values:</h3>
            </tr>
            <tr>
                <h3 class="bg"><b>
                        <pre><code>
                    list1 = [ "abc", 34, True, 40, "male" ]
                    </code></pre>
                    </b>
                </h3>
            </tr>
        </tbody>
    </table>
    <br>
    <h2>Type()</h2>
    From Python's perspective, lists are defined as objects with the data type 'list':
    <br><br>
    <table class="table">
        <tbody>
            <tr class="bg2">
                <h3><b>EXAMPLE</b><br>What is the data type of a list?</h3>
            </tr>
            <tr>
                <h3 class="bg"><b>
                        <pre><code>
                        mylist = [ "apple", "banana", "cherry" ]
                        print ( type ( mylist ) )
                        </code></pre>
                    </b>
                </h3>
            </tr>
        </tbody>
    </table>
    <br>
    <h2>The List( ) Constructor</h2>
    It is also possible to use the <code>list()</code> constructor when creating a new list.<br><br>
    <table class="table">
        <tbody>
            <tr class="bg2">
                <h3><b>EXAMPLE</b><br>Using the <code>list()</code> constructor to make a List:</h3>
            </tr>
            <tr>
                <h3 class="bg"><b>
                        <pre><code>
                    thislist = list ( ( "apple", "banana", "cherry" ) ) # note the double round-brackets
                    print ( thislist )
                    </code></pre>
                    </b>
                </h3>
            </tr>
        </tbody>
    </table>
    <br>
    <h2>Python Collections ( Arrays )</h2>
    There are four collection data types in the Python programming language:
    <ul>
        <li>List is a collection which is ordered and changeable. Allows duplicate members.</li>
        <li>Tuple is a collection which is ordered and unchangeable. Allows duplicate members.</li>
        <li>Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.</li>
        <li>Dictionary is a collection which is ordered** and changeable. No duplicate members.</li>
    </ul>
    When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for
    a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.
</div> -->