<div class="row text-center header-content hidden-xs">
  <div class="col-md-12 col-xs-12 col-xl-12 col-sm-12">
    <p class="header" data-aos="fade-down">Coder & AccoTax</p>
    <p class="sub-header" data-aos="fade-down">Become lifelong learners with
      India's best teachers,
      <br>engaging video lessons and personalised learning journeys</p>
  </div>
</div>

<div class="container whole-div text-center shadow p-3 mb-5 bg-white rounded">
  <span class="bfc-learning-prg-title">
    class
  </span>
  <div class="d-flex flex-sm-row flex-column">
    <div class=" col-xs-12 col-sm-12 col-md-6 col-xl-6">

      <div  class=" d-flex left-div col-xs-12 col-md-6 col-xl-6 bfc-learning-prg-card">
        <div class="bfc-left-img-card">
          <img class="sitting-chair-img" src="assets/images/btla.png" />
        </div>
        <div class="bfc-right-img-card">
          <div class="card-body text-center">
            <img class="card-byjus-logo lazyload"
              src="https://cdn1.byjus.com/byjusweb/img/home/svg/byjus_learningapp_logo.svg"
              loading="lazy" />
            <p class="card-text">Personalised learning app <br> to learn
              anytime, anywhere</p>
            <a href="/byjus-the-learning-app/" target="_blank"
              class="know-more-link">
              Know more >
            </a>
          </div>
        </div>
      </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6">
      <div  class=" d-flex left-div col-xs-12 col-md-6 col-xl-6 bfc-learning-prg-card">
        <div class="bfc-left-img-card">
          <img class="sitting-chair-img" src="assets/images/btla.png" />
        </div>
        <div class="bfc-right-img-card">
          <div class="card-body text-center">
            <img class="card-byjus-logo lazyload"
              src="https://cdn1.byjus.com/byjusweb/img/home/svg/byjus_learningapp_logo.svg"
              loading="lazy" />
            <p class="card-text">Personalised learning app <br> to learn
              anytime, anywhere</p>
            <a href="/byjus-the-learning-app/" target="_blank"
              class="know-more-link">
              Know more >
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container whole-div text-center shadow p-3 mb-5 bg-white rounded">
  <span class="bfc-learning-prg-title">
    class
  </span>
  <div class="d-flex flex-sm-row flex-column">
    <div class=" col-xs-12 col-sm-12 col-md-6 col-xl-6">

      <div  class=" d-flex left-div col-xs-12 col-md-6 col-xl-6 bfc-learning-prg-card">
        <div class="bfc-left-img-card">
          <img class="sitting-chair-img" src="assets/images/btla.png" />
        </div>
        <div class="bfc-right-img-card">
          <div class="card-body text-center">
            <img class="card-byjus-logo lazyload"
              src="https://cdn1.byjus.com/byjusweb/img/home/svg/byjus_learningapp_logo.svg"
              loading="lazy" />
            <p class="card-text">Personalised learning app <br> to learn
              anytime, anywhere</p>
            <a href="/byjus-the-learning-app/" target="_blank"
              class="know-more-link">
              Know more >
            </a>
          </div>
        </div>
      </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6">
      <div  class=" d-flex left-div col-xs-12 col-md-6 col-xl-6 bfc-learning-prg-card">
        <div class="bfc-left-img-card">
          <img class="sitting-chair-img" src="assets/images/btla.png" />
        </div>
        <div class="bfc-right-img-card">
          <div class="card-body text-center">
            <img class="card-byjus-logo lazyload"
              src="https://cdn1.byjus.com/byjusweb/img/home/svg/byjus_learningapp_logo.svg"
              loading="lazy" />
            <p class="card-text">Personalised learning app <br> to learn
              anytime, anywhere</p>
            <a href="/byjus-the-learning-app/" target="_blank"
              class="know-more-link">
              Know more >
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container whole-div text-center shadow p-3 mb-5 bg-white rounded">
  <span class="bfc-learning-prg-title">
    class
  </span>
  <div class="d-flex flex-sm-row flex-column">
    <div class=" col-xs-12 col-sm-12 col-md-6 col-xl-6">

      <div  class=" d-flex left-div col-xs-12 col-md-6 col-xl-6 bfc-learning-prg-card">
        <div class="bfc-left-img-card">
          <img class="sitting-chair-img" src="assets/images/btla.png" />
        </div>
        <div class="bfc-right-img-card">
          <div class="card-body text-center">
            <img class="card-byjus-logo lazyload"
              src="https://cdn1.byjus.com/byjusweb/img/home/svg/byjus_learningapp_logo.svg"
              loading="lazy" />
            <p class="card-text">Personalised learning app <br> to learn
              anytime, anywhere</p>
            <a href="/byjus-the-learning-app/" target="_blank"
              class="know-more-link">
              Know more >
            </a>
          </div>
        </div>
      </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6">
      <div  class=" d-flex left-div col-xs-12 col-md-6 col-xl-6 bfc-learning-prg-card">
        <div class="bfc-left-img-card">
          <img class="sitting-chair-img" src="assets/images/btla.png" />
        </div>
        <div class="bfc-right-img-card">
          <div class="card-body text-center">
            <img class="card-byjus-logo lazyload"
              src="https://cdn1.byjus.com/byjusweb/img/home/svg/byjus_learningapp_logo.svg"
              loading="lazy" />
            <p class="card-text">Personalised learning app <br> to learn
              anytime, anywhere</p>
            <a href="/byjus-the-learning-app/" target="_blank"
              class="know-more-link">
              Know more >
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container whole-div text-center shadow p-3 mb-5 bg-white rounded">
  <span class="bfc-learning-prg-title">
    class
  </span>
  <div class="d-flex flex-sm-row flex-column">
    <div class=" col-xs-12 col-sm-12 col-md-6 col-xl-6">

      <div  class=" d-flex left-div col-xs-12 col-md-6 col-xl-6 bfc-learning-prg-card">
        <div class="bfc-left-img-card">
          <img class="sitting-chair-img" src="assets/images/btla.png" />
        </div>
        <div class="bfc-right-img-card">
          <div class="card-body text-center">
            <img class="card-byjus-logo lazyload"
              src="https://cdn1.byjus.com/byjusweb/img/home/svg/byjus_learningapp_logo.svg"
              loading="lazy" />
            <p class="card-text">Personalised learning app <br> to learn
              anytime, anywhere</p>
            <a href="/byjus-the-learning-app/" target="_blank"
              class="know-more-link">
              Know more >
            </a>
          </div>
        </div>
      </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6">
      <div  class=" d-flex left-div col-xs-12 col-md-6 col-xl-6 bfc-learning-prg-card">
        <div class="bfc-left-img-card">
          <img class="sitting-chair-img" src="assets/images/btla.png" />
        </div>
        <div class="bfc-right-img-card">
          <div class="card-body text-center">
            <img class="card-byjus-logo lazyload"
              src="https://cdn1.byjus.com/byjusweb/img/home/svg/byjus_learningapp_logo.svg"
              loading="lazy" />
            <p class="card-text">Personalised learning app <br> to learn
              anytime, anywhere</p>
            <a href="/byjus-the-learning-app/" target="_blank"
              class="know-more-link">
              Know more >
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="d-flex flex-sm-row flex-column">
  <div class="p-2 col-xs-12 col-sm-12 col-md-6 col-xl-6">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </div>
  <div class="p-2 col-xs-12 col-sm-12 col-md-6 col-xl-6">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </div>
</div> -->
