body
{overflow-x: hidden;}
.page{
  color: white;
  padding: 0 0rem;
  background: #f1f5f9;
}
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color:rgb(7, 7, 7);
  background-color: rgb(246, 249, 246);
  font-weight: bolder;
  }
  
  ::ng-deep .mat-tab-list .mat-tab-labels {
  color:rgb(246, 13, 13);
  background-image: linear-gradient(to bottom right, rgb(8, 2, 68), rgb(10, 39, 168));
  font-weight: bolder;
  }
  .mat-tab-label{
    background:aqua;
    color: blue;
    width: 60px;
    height: 50px;
    font-size: 20px;
  }
 
  $speed: 25s;

  .marquee {
    height: 25px;
    width: 420px;
  
    overflow: hidden;
    position: relative;
  }
  
  .marquee div {
    display: block;
    width: 200%;
    height: 30px;
    overflow-x: marquee-line;
    marquee-style: scroll;
    marquee-direction: backward;

    position: absolute;
    overflow: hidden;
  
    animation: marquee 5s linear infinite;
  }
  
  .marquee span {
    float: left;
    width: 100%;
  }
  
  @keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
  }


// Styling
.header{
  background-color: #0099ff;
  padding: 0em 1em;
  font-size: 2em;
  margin: 0;
}
.comdtl{
  font-size: .5em;
}
.comname{
  font-size: 1.5em;
  font-weight: 800;
  letter-spacing: .1em;
  color: #7CF4FF;
}
// billscroll
.billscrl{
  background-color: red;
  color: #fff;
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  word-spacing: .5em;
  letter-spacing: .2em;
}
.left{
  background-color: red;
}
.right{
  background-color: rgb(98, 0, 255);
}
.main{
  background-color: rgb(255, 255, 255);
}
.active{
  // background-color: red;
  text-align: center;
  width: 24%;
  border-radius: 1em;
}
.botic{
  font-size: 3em;
  margin-top: 1em;
}
.rule{
  border: 2px solid #000000;
  width: 8em;
  margin: 0px auto;
  margin-bottom: 1em;
}
.act{
  padding-bottom: 5px;
  padding-top: 2em;
  // background-image: linear-gradient(to left bottom, #00b7d3, #00a9c2, #009bb2, #008da2, #007f92);
}
.act1{
  padding-bottom: 5px;
  padding-top: 2em;
  // background-image: linear-gradient(to right top, #c96000, #d36a01, #dd7502, #e67f04, #f08a06);
}
.act2{
  padding-bottom: 5px;
  padding-top: 2em;
  // background-image: linear-gradient(to left bottom, #00c972, #01b666, #02a45a, #01924f, #008144);
}
.act3{
  padding-bottom: 5px;
  padding-top: 2em;
  // background-image: linear-gradient(to left bottom, #8c00c9, #7f00b2, #73009b, #650086, #580071);
}
.act3 a{
  text-decoration:none ;
   color: aliceblue;
}
.act2 a{
  text-decoration:none ;
   color: aliceblue;
}
.act1 a{
  text-decoration:none ;
   color: aliceblue;
}
.act a{
  text-decoration:none ;
   color: aliceblue;
}
// tableright
.upbday{  
  
  background-color: #000ba0;
  padding: 1em;
  border-radius: 10px 10px 0px 0px;
  font-size: 1.2em;
  }
.upcom-1{
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}
.upcom-1-scroll{
  width:100%;
  height:130px;
  overflow: auto;
}
.upcom-2-scroll{
  width:100%;
  height:348px;
  overflow: auto;
}
.upcom-1-scroll thead th {
  position: sticky;
  top: 0;
  background: #c2d6ff
}
.upcom-2-scroll thead th {
  position: sticky;
  top: 0;
  background: #c2d6ff
}
.upcom-2{
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
// tabcss
.lefttabs{
  background-color: #000ba0;
  padding: 1em;
  border-radius: 10px 10px 0px 0px;
  font-size: 1.2em;
}

// monthlydetails
.mon{
  background-image: linear-gradient(to right top, #beb8ff, #bcc3ff, #becdff, #c2d6ff, #cadfff);
  color: #05003B;
  border-radius: 10px;
  width: 24%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 2px solid #7275AE;
}
.mhead{
  font-size: 1.2em;
}
.mbody{
  font-size: 2em;
}
// studedentdewtails
.stuhisdtl{
  background-color: #000ba0;
  padding: 1em;
  border-radius: 10px 10px 0px 0px;
  font-size: 1.2em;
}
.lefttabs{
  background-color: #000ba0;
  margin-left: -10px;
}
.container{
  width: 100%;
  font-size: medium !important;
  background-color: white;
  color: black;
}
.container #print-AllReceiptBill{
  width: 100%;
  font-size: medium !important;
  background-color: white;
  color: black;
  padding: 10px;
}
// media querry 
/* @media (min-width: 1009px) and (max-width: 1227px){

  .dash{
    width: 40%;
    text-align: left;
    
  } 
  .comdtl{
    width: 60%;
    text-align: right;
    padding: 5px;
  }
  .dashbox{
    width: 80%;
    padding: 0;
    box-sizing: border-box;
  }
  .bday{
    width: 20%;
     padding: 0;
    box-sizing: border-box;
  }
  
} */

@media(max-width: 1008px){

  .dash{
    width: 100%;
  }
  .comdtl{
    width: 100%;
    padding: 5px;

  }
  .dashbox{
    width: 100%;
  }
  .active{
    width: 47%;
  }
  .act, .act1{
    margin-bottom: .75em;
  }
  .bday{
    width: 100%;
    margin: 0px;
  }
  .mon{
    width: 100%;
    margin-bottom: .75em;
  }
  mat-tab{
    width: 100%;
    font-size: small !important;
    background-color: white;
    color: black;
  }
  .container #print-AllReceiptBill{
    width: 100%;
    font-size: small !important;
    background-color: white;
    color: black;
    padding: 10px;
  }
  .stutable{
    width: 100%;
    font-size: small;
  }
}
@media(max-width:480px){
  .dash{
    width: 100%;
  }
  .comdtl{
    width: 100%;
    padding: 5px;
  }
  .dashbox{
    width: 100%;
  }
  .active{
    width: 47%;
  }
  .thtab .lefttabs mat-tab-group{
    width: 100%;
    font-size: small !important;
    background-color: white;
    color: black;
  }
  .thtab .lefttabs mat-tab-group mat-tab{
    width: 100%;
    font-size: small !important;
    background-color: white;
    color: black;
  }
  .container #print-AllReceiptBill{
    width: 100%;
    font-size: smaller !important;
    background-color: white;
    color: black;
  }
  .act, .act1{
    margin-bottom: .75em;
  }
  .bday{
    width: 100%;
    margin: 0px;
  }
  .mon{
    width: 100%;
    margin-bottom: .75em;
  }
  .stutable{
    width: 100%;
    font-size: small;
  }

  * {
    box-sizing: border-box;
  }
  
  .item {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    padding-top: 75px;
    background: #ccc;
    text-align: center;
    color: #FFF;
    font-size: 3em;
  }
}

