<div class="row justify-content-center header-content hidden-xs">
  <div class="col-md-12">
    <p class="header" data-aos="fade-down">Comprehensive learning programs & classes for all students</p>
    <p class="sub-header" data-aos="fade-down">Become lifelong learners with India's best teachers,
    <br>engaging video lessons and personalised learning journeys</p>
  </div>
</div>



<div class="container" style="text-align: center; padding-top: 50px;">
  <div class="d-flex">
    <div class="col-3">1</div>
    <div class="col-6">
      <span>Class 4 to 10</span>
      <div class="row">
        <div class="d-flex col-md-6">
          <div class="d-flex bfc-learning-prg-card">
            <div class="bfc-left-img-card">
              <img  src="assets/images/btla.png"  />
            </div>
            <div class="vline"></div>
            <div class="bfc-right-img-card">
              <div class="card-body text-center">
                <img class="card-byjus-logo lazyload" src="https://cdn1.byjus.com/byjusweb/img/home/svg/byjus_learningapp_logo.svg" loading="lazy" />
                <p class="card-text">Personalised learning app <br> to learn anytime, anywhere</p>
                <a href="/byjus-the-learning-app/" target="_blank" class="know-more-link">
                  Know more >
                </a>
              </div>
            </div>
          </div>

          <div class="d-flex bfc-learning-prg-card">
            <div class="bfc-left-img-card">
              <img  src="assets/images/btla.png"  />
            </div>
            <div class="vline"></div>
            <div class="bfc-right-img-card">
              <div class="card-body text-center">
                <img class="card-byjus-logo lazyload" src="https://cdn1.byjus.com/byjusweb/img/home/svg/byjus_learningapp_logo.svg" loading="lazy" />
                <p class="card-text">Personalised learning app <br> to learn anytime, anywhere</p>
                <a href="/byjus-the-learning-app/" target="_blank" class="know-more-link">
                  Know more >
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">3</div>
  </div>
      
    
</div>